#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body {
  background-color: #d9d9d9;
  font-family: "Times New Roman", Georgia, serif;
}

.card {
  width: 360px;
  height: 240px;
  background-color: #ffffff;
  border-radius: 16px;

  padding: 32px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.card h1 {
  text-align: center;
  font-size: 32px;
  margin: center;
}

.name {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  margin-right: auto;
}

.read-the-docs {
  color: #888;
}